@font-face {
    font-family: "SingleDay";
    src: url(SingleDay-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Solway";
    src: url(Solway-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}